In [5]:
import pandas as pd
import numpy as np

## lat file（for visualising SLIC）

small_lat:group by SLIC

In [274]:
lat=pd.read_csv("lat2.csv")

In [275]:
lat.head()

,SLIC,SLIC Name,OpTyp,Desc,Building,Building Name,Region Num,Region Name,District Num,District Name,Facility Latitude,Facility Longitude,Organization Country Cd
0,005,CRYSTAL LAKE,APT,AIRPORT,600,CRYSTAL LAKE,22,AIR,65,LOUISVILLE AIR,0.0000,0.0000,US
1,005,CRYSTAL LAKE,APT,AIRPORT,999,CRYSTAL LAKE,22,AIR,65,LOUISVILLE AIR,0.0000,0.0000,US
2,0059,IMPORT HUB,HUB,HUB/CENTRAL SORT,0059,"UPS AIR CARGO, INC.",13,AMERICAS,46,"UPS LATIN AMERICA, INC.",25.8064,-80.3049,US
3,0069,EXPORT HUB,HUB,HUB/CENTRAL SORT,0059,"UPS AIR CARGO, INC.",13,AMERICAS,46,"UPS LATIN AMERICA, INC.",25.8064,-80.3049,US
4,0101,SPRINGFIELD-COUNTY,PKG,REGULAR PACKAGE CENTER,0119,SPRINGFIELD,7,EAST REGION,36,NORTHEAST,42.1433,-72.6247,US

In [351]:
lat[lat['SLIC']=='90']

Empty DataFrame
Columns: [SLIC, SLIC Name, OpTyp, Desc, Building, Building Name, Region Num, Region Name, District Num, District Name, Facility Latitude, Facility Longitude, Organization Country Cd]
Index: []

In [277]:
lat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19655 entries, 0 to 19654
Data columns (total 13 columns):
SLIC                       19655 non-null object
SLIC Name                  19655 non-null object
OpTyp                      19655 non-null object
Desc                       19655 non-null object
Building                   19655 non-null object
Building Name              19655 non-null object
Region Num                 19655 non-null int64
Region Name                19655 non-null object
District Num               19655 non-null int64
District Name              19655 non-null object
Facility Latitude          19655 non-null float64
Facility Longitude         19655 non-null float64
Organization Country Cd    19655 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 1.9+ MB

In [278]:
lat.shape

(19655, 13)

In [279]:
small_lat=lat[['SLIC','Building','Facility Latitude','Facility Longitude']].groupby(['SLIC'],as_index=False).mean()

In [280]:
small_lat['SLIC']=small_lat['SLIC'].str.strip('0')

In [281]:
small_lat.head()

  SLIC  Facility Latitude  Facility Longitude
0    5             0.0000              0.0000
1   59            25.8064            -80.3049
2   69            25.8064            -80.3049
3  101            42.1433            -72.6247
4  106            42.1433            -72.6247

In [282]:
small_lat=small_lat.drop_duplicates(['SLIC'])

In [283]:
small_lat.shape

(6502, 3)

# lat_vol (for visualising arrow between origin and destination node)

In [284]:
vol=pd.read_csv("vol2.csv")

In [285]:
vol.head()

  OCC OSLIC DCC  DSLIC      VOL
0  US  0101  PR     90    1.503
1  US  0101  PR     91    1.819
2  US  0101  PR     95    1.503
3  US  0101  US    101   98.082
4  US  0101  US    110  126.871

In [286]:
small_vol=vol[['OSLIC','DSLIC','VOL']]

In [287]:
small_vol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199325 entries, 0 to 3199324
Data columns (total 3 columns):
OSLIC    object
DSLIC    int64
VOL      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 73.2+ MB

In [288]:
small_vol.head()
small_vol['DSLIC']=small_vol['DSLIC'].astype(object)
small_vol['OSLIC']=small_vol['OSLIC'].str.strip('0')

/Users/redless/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/redless/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [340]:
# small_vol.info()
# small_vol['DSLIC']=small_vol['DSLIC'].astype(object)
small_vol['DSLIC']=small_vol['DSLIC'].apply(str)

/Users/redless/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [343]:
# small_vol[small_vol['DSLIC']=='101']

In [352]:

# lat_vol['DSLIC']=lat_vol['DSLIC'].astype(int)
small_lat.head()

  SLIC  Facility Latitude  Facility Longitude
0    5             0.0000              0.0000
1   59            25.8064            -80.3049
2   69            25.8064            -80.3049
3  101            42.1433            -72.6247
4  106            42.1433            -72.6247

In [353]:
small_vol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3199325 entries, 0 to 3199324
Data columns (total 3 columns):
OSLIC    object
DSLIC    object
VOL      float64
dtypes: float64(1), object(2)
memory usage: 73.2+ MB

In [357]:
# lat_vol=pd.merge(small_lat,small_vol,how='left',left_on='SLIC',right_on='OSLIC')
res=pd.merge(lat_vol,small_lat,how='left',left_on='DSLIC',right_on='SLIC')

In [360]:
res.shape

(3091941, 9)

Get the arc between origin and dest

In [359]:
# res=pd.merge(lat_vol,small_lat,how='left',left_on='DSLIC',right_on='SLIC')
# lat_vol[['SLIC','OSLIC','DSLIC']]=lat_vol[['SLIC','OSLIC','DSLIC']].apply(lambda a: a.astype(object))
# lat_vol['SLIC']=lat_vol['SLIC'].str.strip('0')
# lat_vol['OSLIC']=lat_vol['OSLIC'].str.strip('0')
res.head()

,SLIC_x,Facility Latitude_x,Facility Longitude_x,OSLIC,DSLIC,VOL,SLIC_y,Facility Latitude_y,Facility Longitude_y
0,5,0.0,0.0,5,101,2.714,101,42.1433,-72.6247
1,5,0.0,0.0,5,110,2.240,NaN,NaN,NaN
2,5,0.0,0.0,5,120,4.135,NaN,NaN,NaN
3,5,0.0,0.0,5,130,2.293,NaN,NaN,NaN
4,5,0.0,0.0,5,140,2.451,NaN,NaN,NaN

In [365]:
resFile=res.dropna()

In [367]:
resFile.head()

,SLIC_x,Facility Latitude_x,Facility Longitude_x,OSLIC,DSLIC,VOL,SLIC_y,Facility Latitude_y,Facility Longitude_y
0,5,0.0,0.0,5,101,2.714,101,42.14330,-72.6247
8,5,0.0,0.0,5,172,5.819,172,42.60010,-71.3046
10,5,0.0,0.0,5,184,4.504,184,42.60010,-71.3046
11,5,0.0,0.0,5,185,2.451,185,42.60010,-71.3046
12,5,0.0,0.0,5,186,2.609,186,21.18875,-35.5398

In [368]:
resFile=resFile.drop(['SLIC_y'],axis=1)

In [376]:
resFile=resFile.rename(columns={'SLIC_x':'SLIC'})

In [382]:
resFile.describe()

,Facility Latitude_x,Facility Longitude_x,VOL,Facility Latitude_y,Facility Longitude_y
count,1.716055e+06,1.716055e+06,1.716055e+06,1.716055e+06,1.716055e+06
mean,3.588323e+01,-8.238393e+01,7.103836e+00,3.623116e+01,-8.854052e+01
std,1.088158e+01,2.724943e+01,2.296064e+01,8.850608e+00,2.339057e+01
min,0.000000e+00,-1.593479e+02,1.451000e+00,0.000000e+00,-1.593479e+02
25%,3.404690e+01,-9.507190e+01,1.661000e+00,3.344920e+01,-9.911510e+01
50%,3.952000e+01,-8.369000e+01,2.451000e+00,3.866510e+01,-8.621460e+01
75%,4.186310e+01,-7.418180e+01,5.030000e+00,4.138890e+01,-7.937340e+01
max,6.119430e+01,0.000000e+00,3.176451e+03,6.119430e+01,0.000000e+00

In [399]:
resFile.to_csv("arc_od.csv",index=False)

In [381]:
small_lat.to_csv("small_lat.csv",index=False)

In [1]:
resFile.

NameError: name 'resFile' is not defined

In [384]:
resFile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1716055 entries, 0 to 3090361
Data columns (total 8 columns):
SLIC                    object
Facility Latitude_x     float64
Facility Longitude_x    float64
OSLIC                   object
DSLIC                   object
VOL                     float64
Facility Latitude_y     float64
Facility Longitude_y    float64
dtypes: float64(5), object(3)
memory usage: 117.8+ MB

In [395]:
resFile['VOL_LEVEL']=pd.cut(resFile['VOL'],10,labels=['1','2','3','4','5','6','7','8','9','10'])

In [400]:
a=resFile[resFile['VOL_LEVEL']=='4']

In [402]:
a.to_csv('a.csv',index=False)

END

In [299]:
lat_vol=lat_vol.dropna()
lat_vol.shape

(3088115, 6)

In [305]:
# res=pd.merge(lat_vol,small_lat,how='left',left_on='DSLIC',right_on='SLIC')

In [374]:
res.head()

,SLIC_x,Facility Latitude_x,Facility Longitude_x,OSLIC,DSLIC,VOL,SLIC_y,Facility Latitude_y,Facility Longitude_y
0,5,0.0,0.0,5,101,2.714,101,42.1433,-72.6247
1,5,0.0,0.0,5,110,2.240,NaN,NaN,NaN
2,5,0.0,0.0,5,120,4.135,NaN,NaN,NaN
3,5,0.0,0.0,5,130,2.293,NaN,NaN,NaN
4,5,0.0,0.0,5,140,2.451,NaN,NaN,NaN

In [300]:
# lat_vol=lat_vol.set_index('DSLIC')
# lat_vol.head()
a=lat_vol.head()

In [238]:
# lat_vol.index=lat_vol.index.astype('object')
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088115 entries, 0 to 3090362
Data columns (total 6 columns):
SLIC                  object
Facility Latitude     float64
Facility Longitude    float64
OSLIC                 object
DSLIC                 int64
VOL                   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 164.9+ MB

In [239]:
lat_vol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088115 entries, 0 to 3090362
Data columns (total 6 columns):
SLIC                  object
Facility Latitude     float64
Facility Longitude    float64
OSLIC                 object
DSLIC                 int64
VOL                   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 164.9+ MB

In [240]:
b=small_lat.head()
# b.rename(columns={'SLIC':'DSLIC'},inplace=True)
# b
# b['DSLIC']=b['DSLIC'].astype(int)
b

ValueError: invalid literal for int() with base 10: '16WN'

In [179]:
small_lat.shape

(6502, 3)

In [194]:
# small_lat.info()
a.info()
#b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 6 columns):
SLIC                  5 non-null object
Facility Latitude     5 non-null float64
Facility Longitude    5 non-null float64
OSLIC                 5 non-null object
DSLIC                 5 non-null object
VOL                   5 non-null float64
dtypes: float64(3), object(3)
memory usage: 280.0+ bytes

In [203]:
# res=pd.merge(lat_vol,small_lat,how='left',left_on='DSLIC',right_on='SLIC')
# res.head()
res=pd.merge(a,b,how ='outer',left_on='DSLIC',right_on='DSLIC')
res

,SLIC,Facility Latitude_x,Facility Longitude_x,OSLIC,DSLIC,VOL,Facility Latitude_y,Facility Longitude_y
0,5,0.0,0.0,5,101,2.714,42.1433,-72.6247
1,5,0.0,0.0,5,110,2.240,NaN,NaN
2,5,0.0,0.0,5,120,4.135,NaN,NaN
3,5,0.0,0.0,5,130,2.293,NaN,NaN
4,5,0.0,0.0,5,140,2.451,NaN,NaN
5,NaN,NaN,NaN,NaN,5,NaN,0.0000,0.0000
6,NaN,NaN,NaN,NaN,59,NaN,25.8064,-80.3049
7,NaN,NaN,NaN,NaN,69,NaN,25.8064,-80.3049
8,NaN,NaN,NaN,NaN,106,NaN,42.1433,-72.6247

In [211]:
res.shape

(3543926, 9)

In [163]:
lat_vol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3084877 entries, 3 to 3087220
Data columns (total 6 columns):
SLIC                  object
Facility Latitude     float64
Facility Longitude    float64
OSLIC                 object
DSLIC                 object
VOL                   float64
dtypes: float64(3), object(3)
memory usage: 164.8+ MB

In [265]:
lat_vol.head()

  SLIC Building  Facility Latitude  Facility Longitude OSLIC DSLIC    VOL
0    5      600                0.0                 0.0     5   101  2.714
1    5      600                0.0                 0.0     5   110  2.240
2    5      600                0.0                 0.0     5   120  4.135
3    5      600                0.0                 0.0     5   130  2.293
4    5      600                0.0                 0.0     5   140  2.451